.flex-break 
{
 margin-bottom: 40px;
}
html,body
{
margin:0;
}
body 
{
background-size: cover;
background-position: center;
background-repeat: no-repeat;
font-family: 'Roboto', sans-serif;
position: relative;
text-align: center; 
min-height: 100dvh; 
}
.quizContainer
{ 
display:flex;
color:white;
flex-direction:row;
opacity:1;
border-radius:10px;
width:100dvh;
height:40dvh;
position:relative;
left:30%;
right:20%;
bottom:10svh;
top:13svh;
}
.containerFlex
{
background-color: DodgerBlue;
border:2px solid body;
position:relative;
font-weight:bold;
font-size:16px;
padding:10px;
margin-bottom:30px;
font-size:16px;
text-align: center;
}
.score
{
color:#fff;
font-size:20px;
bottom :0%;
position:relative;
margin-left: auto;
margin-right: auto;
font-weight:bold;
}
.ansbtn 
{
top:0%;
bottom:0%;
position:relative;
border: 1px solid #0066cc;
background-color:#0F62FE;
color: #ffffff;
padding: 5px 10px;
}

.ansbtn:hover 
{
border: 1px solid #0099cc;
background-color: #005FCC;
color: #ffffff;
padding: 5px 10px;
}
.ansbtn:disabled,
.ansbtn[disabled]
{
border: 1px solid #999999;
background-color: #cccccc;
color: #ffffff;
}
.answerbtn
{
width:50%;
aspect-ratio: 2/1;
border: 2px solid body;
display:grid;
grid-template-columns: 1fr 1fr;
position:relative;
left:25%;
font-weight:bold;
font-size: 30px;
}
.header {
 display:flex ;
 flex-wrap: wrap;  
color: rgb(65, 88, 93);
text-align: center;
font-size: 5vh;
}
.head 
{
text-align:center; 
display:flex;
flex-wrap: wrap;
position:relative;
justify-content:center;
}
.about-header 
{
text-align:center; 
top:25svh;
left:50svh;
position:relative;
width:80svh;
justify-content:center;
}
.flex-item {
  width: 100%;
}
.btn
{
background-color: #005FCC;
border: 3px solid #005FCC;
border-radius: 10px;
top:0%;
box-shadow: 0 0 5px 1px;
font-weight: bold;
color: #FFFFFF;
font-size: 20px;
padding: 10px;
text-align: center;  

}
.navigation
{
display: relative;
justify-content: center;
align-items: center;
}
@media(max-width:420px){
.header {
font-size: 3vh;
flex-direction: column;
}
body
{
background-size: cover;
background-position: center;
background-repeat: no-repeat;
font-family: 'Roboto', sans-serif;
position: relative;
text-align: center; 
}
.scores
{
color:#fff;
font-size:16px;
bottom :0%;
top:0%;
right:3dvh;
position:relative;
margin-left: auto;
margin-right: auto;
font-weight:bold;
padding:0px 3px;
left:1dvh;
}
.containerFlex 
{
font-size:10px;
max-width:40dvh;
max-height:25dvh;
justify-content:center;
}
.flex-break {
 flex-basis: 0dvh;
}
.headerQues
{
top:0%;
width:45dvh;
color:#fff;
}
.btn
{
background-color: #005FCC;
border: 3px solid #005FCC;
border-radius:2px;
top:0%;
box-shadow: 0 0 5px 1px;
padding:0px;
font-weight: bold;
color: #FFFFFF;
font-size: 16px;
}
.quizContainer 
{
display:flex;
flex-direction:column;
top:1%;
width:45dvh;
height:30dvh;
font-size:10px;
right:2dvh;
left:5dvh;
}
.head 
{
text-align:center; 
justify-content:center;
display:flex;
flex-direction:column;
padding:5px 5px 10px 10px;
position:relative;
}
.about-header 
{
text-align:center; 
top:25svh;
left:15svh;
position:relative;
width:40svh;
justify-content:center;
}
}
@media(max-width:1100px) {
.scores
{
color:#fff;
font-size:16px;
bottom :0%;
top:0vh;
position:relative;
margin-left: auto;
margin-right: auto;
font-weight:bold;
justify-content:center;
}
.headerQues
{
top:0%;
padding:0 1px;
width:40dvh;
}
.containerFlex 
{
font-size:10px;
max-width:48svh;
max-height:30svh;
justify-content:center;
padding-bottom:1px;
}
.flex-break {
 flex-basis: 0dvh;
}
.btn
{
background-color: #005FCC;
border: 3px solid #005FCC;
border-radius:5px;
top:0%;
box-shadow: 0 0 5px 1px;
padding: 5px;
font-weight: bold;
color: #FFFFFF;
font-size: 16px;
}
.quizContainer 
{
display:flex;
flex-direction:column;
top:25svh;
width:56svh;
height:40svh;
font-size:10px;
left:1dvh;
}
.head
{
text-align:center; 
justify-content:center;
display:flex;
flex-direction:column;
top:20dvh;
left:18dvh;
position:relative;
}
.about-header 
{
text-align:center; 
top:25svh;
left:15svh;
position:relative;
width:40svh;
justify-content:center;
}
}
